<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page" width="100%" height="100%">
    <TabView height="100%" selectedIndex="0">
        <StackLayout *tabItem="{title: 'Your Shopping Lists'}">
            <StackLayout>
                <Button width="90%" [nsRouterLink]="['/shop', -1]" class="-rounded-lg -primary">
                    <FormattedString>
                        <Span text="&#xf067;" class="fas fa-plus"></Span>
                    </FormattedString>
                </Button>
            </StackLayout>
            <StackLayout class="item-list">
                <ListView height="100%" [items]="lists" class="list-group" separatorColor="lightblue">
                    <ng-template let-list="item" let-i="index">
                        <DockLayout class="p-t-0 p-b-0">
                            <Label width="80%" [nsRouterLink]="['/shop', list.id]" class="h2" [text]="list.id"></Label>
                            <Button width="40" text="&#xf2ed;" class="fas bg-danger" (tap)="deleteListItem(0,i)"></Button>
                        </DockLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>

        <StackLayout *tabItem="{title: 'Your Recipes'}">
            <StackLayout>
                <Button width="90%" [nsRouterLink]="['/recipe', -1]" class="-rounded-lg -primary">
                    <FormattedString>
                        <Span text="&#xf067;" class="fas fa-plus"></Span>
                    </FormattedString>
                </Button>
            </StackLayout>
            <StackLayout class="item-list">
                <ListView height="100%" [items]="recipes" class="list-group" separatorColor="lightblue">
                    <ng-template let-recipe="item" let-i="index">
                        <DockLayout class="p-t-0 p-b-0">
                            <Label width="80%" [nsRouterLink]="['/recipe', recipe.id]" class="h2" [text]="recipe.id"></Label>
                            <Button width="40" text="&#xf2ed;" class="fas bg-danger" (tap)="deleteListItem(1,i)"></Button>
                        </DockLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </TabView>
</StackLayout>