.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  color: #a8a8a8;
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}
