<ActionBar height="85">
    <TextView class="input h2" [(ngModel)]="list.name"></TextView>
</ActionBar>

<GridLayout rows="*,55" columns="2*,2*,3*" class="page">
    <StackLayout row="0" col="0" colSpan="3">
    <StackLayout backgroundColor="lightgray">
        <TextView height="40" width="90%" class="input h3" hint="Search/add your recipes..." (textChange)="searchRecipes($event)"></TextView>
        <ListView width="90%" [items]="recipes" separatorColor="lightblue">
            <ng-template let-recipe="item" let-i="index">
                <DockLayout class="p-t-0 p-b-0">
                    <Label height="30" class="h3" [text]="recipe.name" (tap)="addRecipeToList(recipes[i])"></Label>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout class="item-list">
        <ListView height="100%" [items]="list.items" class="list-group" separatorColor="lightblue">
            <ng-template let-item="item" let-i="index">
                <DockLayout class="p-t-0 p-b-0">
                    <TextView height="40" width="70%" class="input h3" [(ngModel)]="item" (textChange)="updateItem(i,$event)"></TextView>
                    <Button width="40" height="50" text="&#xf2ed;" class="fas bg-danger" (tap)="deleteItem(i)"></Button>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    </StackLayout>
    
    <Label row="2" col="0" height="100%" text="&#xf067;" class="p-10 m-0 fas h2" textAlignment="center" (tap)="addItem()">
    </Label>
    <Label row="2" col="1" height="100%" text="&#xf0c7;" class="c-bg-forest p-10 m-0 fas h2" textAlignment="center" (tap)="saveList()">
    </Label>
    <Label row="2" col="2" height="100%" text="Go Shop  &#xf218;" class="c-bg-orange p-10 m-0 fas h2" (tap)="goShop()">
    </Label>
</GridLayout>