<ActionBar height="85">
    <TextView class="input h2" [(ngModel)]="list.id"></TextView>
</ActionBar>

<StackLayout class="page">
    <AbsoluteLayout>
        <Button left="0" top="0" width="20%" [nsRouterLink]="['/shop', -1]" class="-rounded-lg -primary" (tap)="addItem()">
            <FormattedString>
                <Span text="&#xf067;" class="fas fa-plus"></Span>
            </FormattedString>
        </Button>
        <Button left="65%" top="0" width="20%" [nsRouterLink]="['/shop', -1]" class="-rounded-lg c-bg-forest" (tap)="saveList()">
            <FormattedString>
                <Span text="&#xf0c7;" class="fas fa-save h2"></Span>
            </FormattedString>
        </Button>
        <Button left="130%" top="0" width="50%" [nsRouterLink]="['/shop', -1]" class="-rounded-lg c-bg-orange" (tap)="goShop()">
            <FormattedString>
                <Span text="Go Shop  " class="h2"></Span>
                <Span text="&#xf218;" class="fas fa-cart-arrow-down h2"></Span>
            </FormattedString>
        </Button>
    </AbsoluteLayout>
    <StackLayout height="40" backgroudColor="lightblue">
        <TextView width="90%" class="input h3" (textChange)="searchRecipes($event)"></TextView>
    </StackLayout>
    <StackLayout class="item-list">
        <ListView height="100%" [items]="list.items" class="list-group" separatorColor="lightblue">
            <ng-template let-item="item" let-i="index">
                <DockLayout class="p-t-0 p-b-0">
                    <TextView height="40" width="70%" class="input h3" [(ngModel)]="item" (textChange)="updateItem(i,$event)"></TextView>
                    <Button width="40" height="50" text="&#xf2ed;" class="fas bg-danger" (tap)="deleteItem(i)"></Button>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</StackLayout>