<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header">
            <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image>
            <Label class="nt-drawer__header-brand" [text]="user.displayName"></Label>
            <Label class="nt-drawer__header-footnote" [text]="user.email"></Label>
        </StackLayout>
    
        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout *ngIf="!user._id">
                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/login')" (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf2f6;" class="nt-icon fas"></Label>
                    <Label col="1" text="Login" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout *ngIf="user._id">
                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/dashboard')" (tap)="onNavItemTap('/dashboard')">
                    <Label col="0" text="&#xf2bd;" class="nt-icon fas"></Label>
                    <Label col="1" text="User Profile" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/signout')" (tap)="signOut()">
                    <Label col="0" text="&#xf52b;" class="nt-icon fas"></Label>
                    <Label col="1" text="Sign Out" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
