<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Grocery Map"></Label>
</ActionBar>

<StackLayout class="page">
    <StackLayout row="0" col="0" colSpan="3">
        <ListView [items]="mappedItemList" class="list-group">
            <ng-template let-mItem="item" let-i="index">
                <GridLayout columns="2*,2*,*" class="m-0 p-0 list-group-item">
                    <Label col="0" text="{{mItem.name}}"></Label>
                    <Label col="1" text="{{mItem.brand}}"></Label>
                    <button col="2" class="fas" text="{{ mItem.selected ? '&#xf068;' : '&#xf067;' }}" (tap)="mItem.selected = !mItem.selected; onListItemSelect(i, !mItem.selected)"></button>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <button (tap)="buildMap()"></button>
</StackLayout>