<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Grocery Map"></Label>
</ActionBar>

<GridLayout rows="45,*,65" class="bg-light-gray">
    <GridLayout row="0" columns="2*,2*,*">
        <Label col="0" text="ITEM" textAlignment="center" class="text-primary h2"></Label>
        <Label col="1" text="BRAND" textAlignment="center" class="text-danger h2"></Label>
    </GridLayout>
    <StackLayout row="1">
        <ListView [items]="mappedItemList" class="list-group">
            <ng-template let-mItem="item" let-i="index">
                <GridLayout columns="2*,2*,*" class="m-0 p-0 list-group-item">
                    <Label col="0" text="{{mItem.name}}" class="c-bg-sky h3"></Label>
                    <Label col="1" text="{{mItem.brand}}" class="bg-danger h3"></Label>
                    <Label col="2" height="40" class="c-bg-charcoal m-0 fas h2" text="{{ mItem.selected ? '&#xf068;' : '&#xf067;' }}" textAlignment="center"
                        style="color: white;" (tap)="onListItemTap(i, mItem.selected); mItem.selected = !mItem.selected;"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <Label row="2" height="100%" text="&#xf218;" class="c-bg-orange p-t-15 m-0 fas h1" textAlignment="center" (tap)="buildMap()"></Label>
</GridLayout>