<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Go Shopping"></Label>
</ActionBar>

<GridLayout rows="auto,60,*">
    <StackLayout row="0" height="{{height}}" class="c-bg-white" (loaded)="pageLoaded($event)" (pan)="onPan($event)" (pinch)="onZoom($event)"></StackLayout>
    <GridLayout row="1" columns="*,2*" class="p-10 list-group-item">
        <Label col="0" text="Aisle" textAlignment="center" class="c-bg-white text-primary h2"></Label>
        <Label col="1" text="Item" textAlignment="center" class="list-group-item-text text-danger h2"></Label>
    </GridLayout>
    <StackLayout row="2">
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                <GridLayout columns="*,2*" class="list-group-item">
                    <Label col="0" [text]="item.aisle" class="c-bg-white h3"></Label>
                    <Label col="1" [text]="item.name" class="list-group-item-text h3"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>
