<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Go Shopping"></Label>
</ActionBar>
<StackLayout class="page" orientation="vertical" width="100%" height="100%">
    <StackLayout class="canvas" (loaded)="pageLoaded($event)"></StackLayout>
    <ListView height="100%" [items]="items" separatorColor="#000080" backgroundColor="lightgray">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
